**INDIAN ECOSYSTEM START UP FUNDING PROJECT**

**Business Understanding**

As the data expert on the team, I am tasked with conducting an in-depth analysis of the ecosystem to determine the factors that influence the funding received by startups in India. The goal is to identify whether the location of these startups plays a significant role in the amount of funding they receive. The analysis will focus on startup funding data spanning from 2018 to 2021. Separate datasets will be provided for each year, encompassing information about the startups, the funding amounts they received, and details about the investors involved. The primary objective is to investigate and understand whether the location of startups in India a meaningful impact on the funding has they secure. This analysis will inform my team with the strategic decisions and help us devise the most effective course of action within the Indian startup ecosystem.

**Project Objective**
The main goal of this project is to analyze the funding landscape of Indian startups from 2018 to 2021. By understanding the trends, sectors, locations, stages, and key players in startup funding, stakeholders can make informed decisions and strategic plans. Analyze funding received by start-ups in India from 2018 to 2021 and provide insights and propose the best course of action and recommendations.

**OBJECTIVES**

1.	To analyze the yearly trend in funding received by Indian startups to identify any   
    significant patterns or changes over time.
2.	To identify which sectors have received the highest amount of funding in India between 
    2018 and 2021.
3.	To analyze the total funding amounts received by startups in various locations within 
    India.
4.	To identify the top **10 companies in India that have received the highest amount of 
    funding.
5.	To determine the stages of funding that have the highest average amounts received by 
    Indian startups.
6.	To identify the startups that received the highest funding in each year.
7.	To identify the top 10 locations in India that received the most funding for startups.
8.	To identify the top investors in Indian startups and analyze the total amount of funding   
    provided by them.


**ANALYTICAL QUESTIONS**

1.	What is the trend in the amount of funding received by indian startups over the years? 
To identify how the funding landscape has changed from 2018 to 2021 for Indian startups and aggregate the total funding amount received by startups for each year. This involves summing the funding amounts for each year and plotting a trend line to visualize the changes over time. This analysis will reveal whether the funding environment is growing, declining, or fluctuating. It helps stakeholders understand the investment climate and predict future trends.

2.	Which sectors received the highest amount of funding in india from 2018 to 2021?
To determine which sectors attracted the most investment over the given period and categorize the startups based on their sectors and sum the funding amounts for each sector from 2018 to 2021. Rank the sectors by their total funding amounts. This analysis highlights the most lucrative and promising sectors for investors. It helps in identifying which industries are gaining traction and are likely to grow further.

3.	What are the total funding amounts received by startups in different locations within india?
To analyze the geographic distribution of funding within India and group the data by locations (cities or states) and calculate the total funding amount received by startups in each location. This reveals the hotspots of startup activity and investment within the country. It helps in understanding regional disparities and the concentration of venture capital.

4.	What are the top 10 companies with the highest funding?
To identify the most heavily funded startups in India from 2018 to 2021 and aggregate the total funding amount received by each company and rank them to find the top 10 companies with the highest funding. This showcases the leading startups in terms of capital raised, indicating their potential market impact and growth prospects. It can also provide case studies for successful fundraising strategies.

5.	What are the top 10 stages with the highest average amount of funds received by indian startups?
To understand which funding stages (e.g., Seed, Series A, Series B) attract the highest average investments and calculate the average funding amount for each funding stage and rank them to find the top 10 stages with the highest average funding. This helps in understanding investor behavior and preferences at different stages of a startup's lifecycle. It informs startups about the potential funding they can expect at various stages of their growth.

6.	Which startups received the highest funding each year? 
To identify the top-funded startup for each year from 2018 to 2021. For each year, find the startup with the highest total funding amount. This highlights the standout startups for each year, showcasing the companies that managed to attract significant investment. It can indicate trends and shifts in investor focus year over year.

7.	What are the top 10 locations that received the most funding?
To pinpoint the top locations (cities or states) that received the most startup funding from 2018 to 2021. Aggregate the total funding amount received by startups in each location and rank them to find the top 10. This helps identify key regions for startup activity and investment. It can inform policy decisions and investment strategies by highlighting areas with strong entrepreneurial ecosystems.

8.	What are the top investors in Indian startups and their contribution amounts?
To identify the leading investors in the Indian startup ecosystem and quantify their investments and aggregate the total amount invested by each investor across all startups and rank them to find the top investors. This analysis reveals the most active and influential investors in the Indian startup scene. It helps startups understand where to seek investment and can also highlight trends in investor behavior and preferences.



**HYPOTHESIS**

**Hypothesis 1:**

Null Hypothesis (H0): There is no significant trend in the amount of funding received by Indian startups over the years.
Alternative Hypothesis (H1): There is a significant trend in the amount of funding received by Indian startups over the years.

**Hypothesis 2:**

Null Hypothesis (H0): The distribution of funding across different sectors is uniform
Alternative Hypothesis (H1): Certain sectors receive significantly more funding than others.

**Hypothesis 3:**

Null Hypothesis (H0): The total funding received by startups is evenly distributed across different locations in India.
Alternative Hypothesis (H1): There are significant differences in the total funding received by startups across different locations in India.

**Hypothesis 4:**

Null Hypothesis (H0): There is no significant difference in the funding amounts received by the top 10 companies.
Alternative Hypothesis (H1): There are significant differences in the funding amounts received by the top 10 companies.

**Hypothesis 5:**

Null Hypothesis (H0): The average funding amounts do not significantly differ across various funding stages.
Alternative Hypothesis (H1): The average funding amounts significantly differ across various funding stages.

**Hypothesis 6:**`

Null Hypothesis (H0): There is no significant difference in the funding amounts received by the top startups each year.
Alternative Hypothesis (H1): There are significant differences in the funding amounts received by the top startups each year.

**Hypothesis 7:**

Null Hypothesis (H0): The distribution of funding across locations is uniform.
Alternative Hypothesis (H1): Certain locations receive significantly more funding than others.

**Hypothesis 8:**

Null Hypothesis (H0): There is no significant difference in the amounts provided by the top investors.
Alternative Hypothesis (H1): There are significant differences in the amounts provided by the top investors.


**Stakeholders**
1. Investors: Gain insights into funding trends, sector preferences, and top-performing startups to make informed investment decisions.
2. Startups: Understand the competitive landscape, identify potential funding opportunities, and benchmark against top-funded companies.
3. Policymakers: Identify regional disparities and areas needing support to foster a more balanced and inclusive startup ecosystem.
4. Entrepreneurs: Gain knowledge about successful sectors and regions to focus their efforts and attract investment.
   
**Project Impact**
By providing a detailed analysis of the startup funding landscape in India, this project aims to:
1. Inform investment strategies and decisions for venture capitalists and angel investors.
2. Guide startups in planning their fundraising efforts and understanding market dynamics.
3. Support policymakers in developing initiatives to promote regional and sectoral growth.
4. Help entrepreneurs identify opportunities and threats within the startup ecosystem.


Understanding the business context and relevance of these key questions is crucial for driving actionable insights and strategic decisions. This project will help stakeholders navigate the complex landscape of startup funding in India, ultimately contributing to a more vibrant and successful entrepreneurial environment.

In [205]:
 %pip install pyodbc  
 %pip install python-dotenv 
 %pip install matplotlib
 %pip install seaborn
 %pip install scikit-learn

Requirement already satisfied: pyodbc in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: python-dotenv in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (3.9.0)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.23 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /Users/wisdomedemdrah/Library/Python/3.12/lib/python/site-packages (from matplotlib) (24.0)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /Users/wisdomedemdrah/Library/Python/3.12/lib/python/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Users/wisdomedemdrah/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (3.9.0)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/wisdomedemdrah/Library/Python/3.12/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /Users/wisdomedemdrah/Library/Python/3.12/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/wisdomedemdrah/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: scikit-learn in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from scikit-learn) (1.13.0)
Requirement already satisfied: joblib>=1.2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

**IMPORT LIBRARIES**

In [206]:
# IMPORT ALL THE REQUIRED PACKAGES AND LIBRARIES

import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package
import pandas as pd
import warnings 
import os
warnings.filterwarnings('ignore')

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
import matplotlib.ticker as mtick
from scipy import stats

**LOAD ALL THE DATASETS FROM SOURCE (SQL & CSV)**
1. Load 2020 and 2021 datasets from Microsoft SQL server
2. Load 2019 dataset from onedrive
3. Load 2018 dataset from a github repository

**CREATING CONNECTION FROM THE DATABASE**

In [208]:
environment_variables = dotenv_values('.env')
 
# These are the values for the credentials from .env file
database=environment_variables.get("DATABASE")
server=environment_variables.get("SERVER")
login=environment_variables.get("LOGIN")
password=environment_variables.get("PASSWORD")

In [209]:
# Create a connection string
connection_string = f"DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={server};DATABASE={database};UID={login};PWD={password};Connection Timeout=60;"

In [210]:
connection = pyodbc.connect(connection_string)

In [211]:
# choose tables from Database server
db_query = ''' SELECT *
            FROM INFORMATION_SCHEMA.TABLES
            WHERE TABLE_TYPE = 'BASE TABLE' '''

In [212]:
# Retrieve the chosen table from SQL Database Server
Retrieve=pd.read_sql(db_query, connection)

Retrieve

  TABLE_CATALOG TABLE_SCHEMA               TABLE_NAME  TABLE_TYPE
0         dapDB          dbo  LP1_startup_funding2021  BASE TABLE
1         dapDB          dbo  LP1_startup_funding2020  BASE TABLE

In [213]:
# load 2020 dataset

query = "Select * from dbo.LP1_startup_funding2020"

data_2020 = pd.read_sql(query, connection)
data_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [214]:
# Load 2021 dataset

query = "Select * from dbo.LP1_startup_funding2021"

data_2021 = pd.read_sql(query, connection)
data_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [216]:
# load data from onedrive
data_2019 = pd.read_csv("/Users/wisdomedemdrah/Library/Mobile Documents/com~apple~CloudDocs/Azubi Utilities & Dark Web/startup_funding2019.csv") 
data_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [217]:
#load data from github repository
data_2018= pd.read_csv("/Users/wisdomedemdrah/Library/Mobile Documents/com~apple~CloudDocs/Azubi Utilities & Dark Web/startup_funding2018.csv")
data_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

**DATA UNDERSTANDING AND PREPARATION**

**DATA CLEANING AND EXPLORATORY DATA ANALYSIS**

In [239]:
#Data from database.2020

query = '''
        Select * from dbo.LP1_startup_funding2020

        '''

data_2020 = pd.read_sql(query, connection)

pd.set_option('display.max_rows',1050) #full view of rows

#convert to dataframe
df_2020 = pd.DataFrame(data_2020)
df_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

**Cleaning the 2020 Dataset**

Get Basic Info on All the Datasets
This method prints out information on our dataframe including all the columns, non-null values and dtypes. 
This will have a detailed understanding of the 2020 dataset, including its structure, summary statistics, and missing values. 
This information is crucial for guiding the data cleaning and preprocessing steps, ensuring that the dataset is ready for analysis.

In [240]:
# Check the shape of the 2020 dataset
df_2020.shape

(1055, 10)

In [241]:
# Check basic info to print out information about the DataFrame, including column names, non-null values, and data types.
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [242]:
# Check the summary statistics of the 2020 dataset to display statistics like mean, median, standard deviation, min, max, and quartiles for numerical columns.
df_2020.describe()

           Founded        Amount
count   842.000000  8.010000e+02
mean   2015.363420  1.130430e+08
std       4.097909  2.476635e+09
min    1973.000000  1.270000e+04
25%    2014.000000  1.000000e+06
50%    2016.000000  3.000000e+06
75%    2018.000000  1.100000e+07
max    2020.000000  7.000000e+10

**Checking Null Values**

In [243]:
# Check for null values in the dataset
df_2020.isnull()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,True,False,True
3,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...
1050,False,True,False,False,False,False,False,False,True,True
1051,False,True,True,False,False,False,False,False,False,True
1052,False,False,False,False,False,False,False,False,True,True
1053,False,False,False,False,False,False,False,False,False,True
1054,False,False,False,False,False,False,False,False,False,True

In [244]:
# Count the number of null values in the dataset

df_2020.isnull().sum()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

In [245]:
# Check for missing values values in the dataset

df_2020.isna()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,True,False,True
3,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...
1050,False,True,False,False,False,False,False,False,True,True
1051,False,True,True,False,False,False,False,False,False,True
1052,False,False,False,False,False,False,False,False,True,True
1053,False,False,False,False,False,False,False,False,False,True
1054,False,False,False,False,False,False,False,False,False,True

In [246]:
# Count the number of missing values in the dataset

df_2020.isna().sum()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

In [247]:
# Check for duplicates
data_2020[data_2020.duplicated()]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
145,Krimanshi,2015.0,Jodhpur,Biotechnology company,Krimanshi aims to increase rural income by imp...,Nikhil Bohra,"Rajasthan Venture Capital Fund, AIM Smart City",600000.0,Seed,None
205,Nykaa,2012.0,Mumbai,Cosmetics,Nykaa is an online marketplace for different b...,Falguni Nayar,"Alia Bhatt, Katrina Kaif",NaN,None,None
362,Byju’s,2011.0,Bangalore,EdTech,An Indian educational technology and online tu...,Byju Raveendran,"Owl Ventures, Tiger Global Management",500000000.0,None,None

In [248]:
# Count the number of NaN values per column
na_counts = df_2020.isna().sum()
na_counts

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

In [249]:
# calculate the mode of the amount column and fill the Nan values with it
mode_2020= data_2020['Amount'].mode()[0]
data_2020['Amount'].fillna(mode_2020, inplace=True)

In [251]:
# Display the rounded 'Amount' column
with pd.option_context('display.float_format', lambda x: f'{x:.0f}'):
    display(data_2020['Amount'])

0        200000
1        100000
2       1000000
3        400000
4        340000
         ...
1050    1500000
1051   13200000
1052    8000000
1053    8043000
1054    9000000
Name: Amount, Length: 1055, dtype: float64

In [253]:
# Sum all the duplicate data to indentify the total rows that have been duplictated in your dataset.
data_2020.duplicated().sum()

3

In [255]:
# this data has duplicates
df_2020 = df_2020.drop_duplicates()

In [264]:
# Dropping column with Nan
columns_drop = ['Founders', 'Founded', 'Investor', 'column10']
df_2020 = df_2020.drop(columns=columns_drop)

In [182]:
#Add a year column in the data. The Year column will serve as a unique idenntifier when the datasets have been merged
Year = [2020]*len(df_2020)
df_2020["Year"] = Year

In [136]:
# # Define new column names
# new_column_names = {
#     'Company_Brand': 'Company/Brand',
#     'What_it_does': 'What it does'
# }

# # # Rename columns
# df_2020 = df_2020.rename_axis(columns=new_column_names)

# # Verify the changes
# print(df_2020.column)


# # Assuming df_2020 is a Series
# # Rename the Series name
# df_2020.name = 'New Series Name'

# # If you need to replace specific values within the Series
# df_2020 = df_2020.replace({
#     'Company_Brand': 'Company/Brand',
#     'What_it_does': 'What it does'
# })

# # Verify the changes
# print(df_2020)

In [265]:
df_2020.head()

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage
0,Aqgromalin,Chennai,AgriTech,Cultivating Ideas for Profit,200000.0,None
1,Krayonnz,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,100000.0,Pre-seed
2,PadCare Labs,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,1000000.0,Pre-seed
3,NCOME,New Delhi,Escrow,Escrow-as-a-service platform,400000.0,None
4,Gramophone,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,340000.0,None

In [185]:
# Replace 'None' with 'Undisclosed'
null_columns = df_2020[['HeadQuarter','Stage','Sector']].astype(str)
null_columns = null_columns.applymap(lambda x: x.replace('None','Undisclosed') if isinstance(x, str) else x)

# a SimpleImputer object with the missing_values parameter set to mode
imputer = SimpleImputer(strategy='most_frequent', missing_values='Undisclosed'  )

# Apply the imputer to fill null values 
df_2020[null_columns.columns] = imputer.fit_transform(null_columns)
df_2020[['HeadQuarter','Stage','Sector']].head()

  HeadQuarter     Stage              Sector
0     Chennai  Series A            AgriTech
1   Bangalore  Pre-seed              EdTech
2        Pune  Pre-seed  Hygiene management
3   New Delhi  Series A              Escrow
4      Indore  Series A            AgriTech

In [186]:
# recheck for missing values
df_2020.isna().sum()

Company_Brand      0
HeadQuarter        0
Sector             0
What_it_does       0
Amount           254
Stage              0
Year               0
dtype: int64

In [187]:
df_2020['Amount'] = df_2020['Amount'].replace('0', np.nan, regex=True)

In [188]:
# Select Amount columns with null values 
null_columns = ["Amount"]

# a SimpleImputer to fill na numeric values wih 0
imputer = SimpleImputer(strategy='median', missing_values= np.nan)

# Apply the imputer to fill null values in selected columns
df_2020[null_columns] = imputer.fit_transform(df_2020[null_columns])
df_2020["Amount"].head()

0     200000.0
1     100000.0
2    3000000.0
3     400000.0
4     340000.0
Name: Amount, dtype: float64

In [189]:
df_2020['Amount'].isna().sum()

0

In [190]:
# Format the amount columns and drop for the 2020 dataset.

def format_amount(value):
    try:
        float_value = float(value)  # convert the value to a float
        formatted_value = "${:,.0f}".format(float_value)  # If successful, format it as currency with $ before the number
        return formatted_value
    except ValueError:
        return value  # If the conversion fails, return the original value
    
# Apply the format_amount function to the 'Amount' column
df_2020['Amount'] = df_2020['Amount'].apply(lambda x: format_amount(x))

df_2020.head()

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
0,Aqgromalin,Chennai,AgriTech,Cultivating Ideas for Profit,"$200,000",Series A,2020
1,Krayonnz,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"$100,000",Pre-seed,2020
2,PadCare Labs,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,"$3,000,000",Pre-seed,2020
3,NCOME,New Delhi,Escrow,Escrow-as-a-service platform,"$400,000",Series A,2020
4,Gramophone,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"$340,000",Series A,2020

**Observations After Previewing All the Datasets**

After thoroughly reviewing all our datasets, we have identified several key issues that need to be addressed:

Inconsistent Column Names: The column names across different datasets are not consistent, making it necessary to standardize them for uniformity.

Missing Columns: The 2018 dataset is missing some columns that are present in other datasets, which could affect the completeness of our analysis.

Duplicated Rows: Some rows in the datasets are duplicated, which can lead to inaccuracies in our analysis and results.

Missing Values: All datasets contain missing values, which need to be handled appropriately to avoid skewed results.

Inconsistent Currencies: Amount columns in some datasets contain different currencies, requiring standardization to a common currency for accurate financial analysis.

Data Type Inconsistencies: Some columns have inconsistent data types across different datasets, which could lead to processing errors.

Incorrect or Irregular Date Formats: Dates are not uniformly formatted across all datasets, which can cause issues in time series analysis.

Outliers and Anomalies: There are noticeable outliers and anomalies in the data, which need to be investigated and addressed.

Inconsistent Measurement Units: Some columns use different units of measurement for the same type of data, necessitating conversion to a standard unit.

Irrelevant or Redundant Data: Certain columns contain data that is either irrelevant to our analysis or redundant, and should be removed or consolidated.

Addressing these issues will ensure that our datasets are clean, consistent, and ready for accurate analysis.